{% extends "base.html" %}

{% block sidebar-playbooks %} 
    <ul id="nav-overview-pbs" class="nav-menu-items"> 
      {% for playbook in playbooks %}
            <li class="nav-item clickable pb pb-clk" data-url="{% url 'playbook' playbook.id %}" data-pb="{{playbook.id}}"> {{playbook.name}} </li>
        {% endfor %}
    </ul>
{% endblock %}


{% block main %}
    <div id="pb-overview" class="">
        <ul class="tile-listing">
            <li class="pb-tile tile-add tile">
                <form id="add-playbook" method="POST">
                    <div class="tile-main">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="input-group">
                                {{ field }}
                                {% if field.errors %}
                                    <div class="error-message invalid-input">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                                {% if field.help_text %}
                                    <small class="help-text form-text text-muted"> {{ field.help_text }} </small>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="tile-footer">
                        <input type="submit" class="btn btn-add" value="Add">
                    </div>
                </form>
            </li>
            {% for playbook in playbooks %}
                <li class="pb-tile tile">
                    <div class="clickable tile-main pb-clk" data-pb="{{playbook.id}}" data-url="{% url 'playbook' playbook.id %}">
                        <span> {{playbook.name}} </span>
                    </div>
                    <div class="tile-footer">
                        <form class="form_delete_playbook" action="{% url 'deletePlaybook' playbook.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Delete" class="btn btn-delete" >
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
